
@import url(https://fonts.google.com/specimen/Pacifico);

:root {
    --primary-color: #8ecae6
    --secondary-color: #219ebc
    --accent-color: #023247
   --additional-accent-color:
   --heading-font: 'Roboto', sans-serif
   --paragraph-font: 'Open-sans', sans-serif
   --nav-background-color: var(--background-color)
   --nav-link-color: #219ebc
   --nav-hover-link-color: #fb8500
   --nav-hover-background-color: #ffb703

}

body {
    font-family:var(--paragraph-font) ;
    max-width: 960;
    padding: 20px;
    margin: auto;
}

h1 h2 h3 h4 h5 h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
}

p {
    padding: 10px;
}

nav {
    background-color: var(--nav-background-color);
    padding: 10px;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 5px;

}